<div class="search-form mt-4">
    <form method="post" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Nhập từ khoá</label>
            <input type="text" name="fullname">
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="nhập vào đây...">
            
        </div>

        
        <button type="submit" class="btn btn-primary mt-10">Tìm kiếm</button>
    </form>
</div>

